.banner-interno__titulo__icono i 
    color: $color-secundario !important
  
.fondo-tarjeta--tema1
  background-image: url(../assets/curso/tema1/tema1-2/fondo2.svg)
  margin-inline: -3rem 
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom
  //background-color: #000









@media screen and ( max-width: $bp-max-xs )
  .fondo-tarjeta--tema1
    margin-inline: -1.4rem 