.banner-interno__titulo__icono i 
    color: $color-secundario !important
  
.fondo-tarjeta--tema1
  background-image: url(../assets/curso/tema1/tema1-2/fondo2.svg)
  margin-inline: -3rem 
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom
  //background-color: #000

.tarjeta--gris
  background-color: #fafafa

.span
  &--acento1
    color:#fb8c00 !important
  &--acento2
    color: #A66D58

.pasos-b__header__item--before .pasos-b__header__item__dot 
  border-color: #26aab7
  background-color: #26aab7
.pasos-b__header__item--before .pasos-b__header__item__line-container:after 
  background-color: #26aab7

.pasos-b__header__item--active .pasos-b__header__item__line-container:before 
  background-color: #26aab7

.pasos-b__header__item--before .pasos-b__header__item__line-container:before, .pasos-b__header__item--before .pasos-b__header__item__line-container:after 
    background-color: #26aab7

.pasos-b__header__btn--left:hover ,.pasos-b__header__btn--right:hover 
  border-color: $color-secundario

.pasos-b__header__item__dot 
  background-color: #fff

//tema1-3
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  background-color: #fb8c0038
.linea-tiempo-d__item__content__slot
  background-color: #fb8c0038

.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  background-color: #1565c066
  font-size: 24px

.linea-tiempo-d.color-secundario .linea-tiempo-d__item .linea-tiempo-d__item__number 
  font-size: 22px








@media screen and ( max-width: $bp-max-xs )
  .fondo-tarjeta--tema1
    margin-inline: -1.4rem 